terraform {
  backend "s3" {
    bucket = "{{terraform_state_bucket}}"
    key    = "{{terraform_state_key}}"
    region = "us-west-2"
  }
}

provider "aws" {
  region = "us-east-1"
}

provider "aws" {
  alias = "root"
  region = "us-east-1"
}
